<section class="card">
    <h2 class="card-header">Create New Post</h2>
    <form action="" class="new-post-form card-body">
        <div>
            <label for="post-title">Title</label> <br>
            <input type="text" id="post-title" class="long-input">
        </div>
        <div>
            <label for="">Body</label> <br>
            <textarea id="post-body"></textarea>
        </div> <br>
        <button type="submit" class="btn btn-secondary">Create</button>
    </form>
</section>