<div class="login-container wrapper">
    <div class="form-container card">
        <form class="login-form">
            <h2 class="card-header">Login</h2>
            <div class="card-body">
                <div class="login-inputs">
                    <label for="email-login">Email</label> <br>
                    <input type="text" id="email-login" />
                    <br>
                    <label for="password-login">Password</label> <br>
                    <input type="password" id="password-login" />
                    <br>
                    <br>
                    <button type="submit" id="btn-login" class="btn btn-secondary">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>