<div class="register-container wrapper">
    <div class="card">
        <form class="signup-form">
            <h2 class="card-header">Register</h2>
            <div class="card-body">
                <div class="signup-inputs">
                    <label for="email-signup">Email</label> <br>
                    <input type="text" id="email-signup" />
                    <br>
                    <label for="username-signup">Username</label> <br>
                    <input type="text" id="username-signup" />
                    <br>
                    <label for="password-signup">Password</label> <br>
                    <input type="password" id="password-signup" />
                    <br>
                    <br>
                    <button type="submit" class="btn btn-secondary">Signup</button>
                </div>
            </div>
        </form>
    </div>
</div>